<div class="ram">
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card"></div>
          <div class="card-header">
            <h4 class="card-title">Employee Name: {{ employee?.['EmployeeName'] }}</h4>
          </div>
          <div class="card-body">
            <h4>Personal Details</h4>
            <div class="row">
              <div class="col-md-6">
                <p>Employee ID</p>
                <p>Gender</p>
                <p>Mail ID</p>
              </div>
              <div class="col-md-6">
                <div class="A" *ngIf="employee">
                <p> {{ employee['EmployeeCode'] }}</p>
                <p> {{ employee?.Gender }}</p>
                <p> {{ employee?.['Employee_MailId'] }}</p>
              </div>
            </div>
          </div>
            <hr>
            <h4>Job Details</h4>
            <div class="row">
              <div class="col-md-6">
                <p>Location</p>
                <p>Reporting Manager</p>
                <p>Product</p>
                <p>Manager Mail ID</p>
                <p>Date Of Joining</p>
              </div>
              <div class="col-md-6" *ngIf="employee">
                <div class="B">
                <p *ngIf="employee.Location else content">  {{employee.Location}}</p>
                <ng-template #content><p>unknown</p></ng-template>
                <p *ngIf="employee.Product else content"> {{ employee?.['ManagerName'] }}</p>
                <p> {{ employee?.Product }}</p>
                <p> {{ employee?.['ManagerMailId'] }}</p>
                <p> {{ employee?.['DateofJoin'] | date:'dd-MMM-yyyy' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  </div>
 
  